<section class="mod-content mod-infographics waves waves-white-inverted" data-scroll-section>
	<div class="container-fluid">
		<div class="row g-6">
			<div class="col-lg-6 mb-5 mb-lg-0 anime-fadein">
				{% if post.infographics_links_titel %}
					<h2 class="text-green h3">{{ post.infographics_links_titel }}</h2>
				{% endif %}
				{% if post.infographics_links_afbeelding %}
					<img src="{{ Image(post.infographics_links_afbeelding).src }}" class="w-100 mb-5 h-auto" data-lity>
				{% endif %}
				{% if post.infographics_links_tekst %}
					{{ post.get_field('infographics_links_tekst') }}
				{% endif %}
			</div>
			<div class="col-lg-6 anime-fadein">
				{% if post.infographics_rechts_titel %}
					<h2 class="text-green h3">{{ post.infographics_rechts_titel }}</h2>
				{% endif %}
				{% if post.infographics_rechts_afbeelding %}
					<img src="{{ Image(post.infographics_rechts_afbeelding).src }}" class="w-100 mb-5 h-auto" data-lity>
				{% endif %}
				{% if post.infographics_rechts_tekst %}
					{{ post.get_field('infographics_rechts_tekst') }}
				{% endif %}
			</div>
		</div>
	</div>
</section>