<section class="mod-quote" data-scroll-section>
	<div class="js-slick-quote">
		{% for item in post.get_field('quotes') %}
			<div class="item text-white d-flex align-items-center" style="background-image: url({{ item.achtergrond.url }})" data-mh>		
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 d-flex align-items-center image">
							<div class="w-100 text-center text-md-start">
								<img src="{{ Image(item.afbeelding).src }}" class="mb-5 mb-md-0">
							</div>
						</div>
						<div class="col-md-8 d-flex align-items-center">
							<div class="content text-right w-100">
								<h2 class="weight-300">
									{{ item.titel }} 
								</h2>
								<strong>
									{{ item.naam }} <br>
									- {{ item.functie }}
								</strong>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section> 