<section id="korraldoenwesamen" class="mod-samen waves waves-blue" data-scroll-section>
	<div class="container-fluid">
		<div class="row g-6 mb-5">
			<div class="col-lg-8 offset-lg-2 text-center">
				{% if post.samen_titel %}
					<h2 class="">{{ post.samen_titel }}</h2>
				{% endif %}
				<div class="row">
					<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
						{% if post.samen_afbeelding %}
							<img src="{{ Image(post.samen_afbeelding).src }}" class="w-100 h-auto mb-4">	
						{% endif %}
					</div>
				</div>
				{% if post.samen_link %}
					<a class="circle d-none d-lg-flex align-items-center anime-fadein" href="{{ post.samen_link.url }}" target="{{ post.samen_link.target }}">
						<div class="w-100">
							<h3 class="mb-1"> {{ post.samen_link.title }} </h3>
							<span>klik hier</span>
						</div>
					</a>
				{% endif %}
			</div>
		</div>
			
		<div class="row g-5 g-lg-6">
			<div class="col-lg-4">
				<div class="card bg-green text-white mb-lg-5">
					<div class="card-body">
						<div data-mh>
							{% if post.samen_groen_titel %}
								<h2 class="h4">{{ post.samen_groen_titel }}</h2>
							{% endif %}
							{{ post.samen_groen_tekst }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card bg-brown text-white mb-lg-5">
					<div class="card-body">
						<div data-mh>
							{% if post.samen_bruin_titel %}
								<h2 class="h4">{{ post.samen_bruin_titel }}</h2>
							{% endif %}
							{{ post.samen_bruin_tekst }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card bg-blue text-white mb-5">
					<div class="card-body">
						<div data-mh>
							{% if post.samen_blauw_titel %}
								<h2 class="h4">{{ post.samen_blauw_titel }}</h2>
							{% endif %}
							{{ post.samen_blauw_tekst }}
						</div>
					</div>
				</div>
			</div>
		</div>
			
		{% if post.samen_btn_link %}
			<div class="text-center"
				<br><br>
				<a class="btn btn-primary" href="{{ post.samen_btn_link.url }}" target="{{ post.samen_btn_link.target }}">{{ post.samen_btn_link.title }}</a>
			</div>
		{% endif %}
	</div>
</section>